---
---

@import "minima";

$bg: rgb(220, 220, 220);

body {
    background-color: $bg;
}

.site-header {
    border-bottom: none;
}

.footer-col-2 {
    text-align: right;
    width: -webkit-calc(65% - (#{$spacing-unit} / 2));
    width:         calc(65% - (#{$spacing-unit} / 2));
}